.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 20px;
    font-family: Karla, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.logo {
    height: 60px;
}

.contact {
    font-family: Karla, sans-serif;
    font-weight: 800;
    padding-bottom: 5px;
}
