@import "helpers/reset.css";

@font-face {
  font-family: Karla;
  src: url(./assets/fonts/Karla.ttf);
}

@font-face {
  font-family: Markazi;
  src: url(./assets/fonts/Markazi.ttf);
}

:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --salmon: #ee9972;
  --light-salmon:#fbdabb;
  --off-white:#edefee;
  --black: #333333;
}
